<footer class="mt-4 pt-5 pb-0 pb-md-5">
  <div class="container">
    <div class="row">

      <div class="col-4 mb-0 pb-0">
        <img src="Images/app/Logo_white.png" height="59" />
        <p class="mt-4 text-white" style="font-size: 18px;">C. 60 491A, Parque Santa Lucia, Centro, 97000 Mérida, Yuc.</p>
        <p class="mt-4 text-white" style="font-size: 18px;">soporte@diabctrl.com</p>
      </div>

      <div class="col-3 mt-4 mt-sm-0 pt-2 pt-sm-0 d-flex justify-content-center">
        <img src="Images/app/Icon.png" style="height: 30vh;">
      </div>

      <div class="col-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <h4 class="footer-head text-center py-2" style="background-color: var(--light); font-size: 30px;">
          <span class="text-primary">¿Tienes dudas? Hablemos</span>
        </h4>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-1 position-relative">
              <label style="color: white;">Correo</label>
              <input name="reason" id="footer_subject" type="text" class="contact-field form-control" placeholder="Escribe tu Correo">
            </div>
          </div>

          <div class="col-md-12">
            <div class="position-relative">
              <label style="color: white;">Mensaje</label>
              <textarea name="comments" id="footer_comments" rows="2" class="contact-field form-control" placeholder="Escribe tu mensaje"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="submit" id="contact-submit" name="send" class="btn btn-primary mt-2">Enviar mensaje</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>